$cBlack: black;
$cWhite: white;
$cText: gray;
$cMain: #e62edd;
$color_twitter: #1da1f2;
$color_facebook: #385968;
$color_rss: #f26522;
$color_hatena: #00a4de;


body{
  font-family: 'Noto Sans JP', sans-serif;
  color: $cBlack;
  position: relative;
  // background-image: url(https://cdn.pixabay.com/photo/2015/04/20/22/17/magnolia-732332_1280.png);
  // background-repeat: repeat;
}


